# Indices

# Versions

flownode_instance=8.3.0
form=8.4.0
import_position=8.2.0
metric=8.3.0
migration_steps_repository=1.1.0
process=8.4.0
process_instance=8.3.0
web_session=1.1.0
user=1.4.0
variable=8.3.0


TASKLIST_INDICES="flownode-instance
form
import-position
metric
migration-steps-repository
process
process-instance
web-session
user
variable"





# Versions

draft_task_variable=8.3.0
list_view=8.6.0
task=8.5.0
task_variable=8.3.0


TASKLIST_INDEX_TEMPLATES="draft-task-variable
list-view
task
task-variable"