# Indices

# Versions

decision=8.3.0
decision_requirements=8.3.0
import_position=8.3.0
metric=8.3.0
migration_steps_repository=1.1.0
web_session=1.1.0
process=8.3.0
user=1.2.0



OPERATE_INDICES="decision
decision-requirements
import-position
metric
migration-steps-repository
process
user
web-session"





# Versions

batch_operation=1.0.0
decision_instance=8.3.0
event=8.3.0
flownode_instance=8.3.1
incident=8.3.1
job=8.6.0
list_view=8.3.0
message=8.5.0
operation=8.4.1
post_importer_queue=8.3.0
sequence_flow=8.3.0
user_task=8.5.0
variable=8.3.0

OPERATE_INDEX_TEMPLATES="batch-operation
decision-instance
event
flownode-instance
incident
job
list-view
message
operation
post-importer-queue
sequence-flow
user-task
variable"