# record types to export
command=false
event=true
rejection=false

# Default value types
# value types to export

decision=true
decision_evaluation=true
decision_requirements=true
deployment=true
error=true
incident=true
job=true
job_batch=false
message=true
message_batch=false
message_subscription=true
process=true
process_instance=true
process_instance_batch=false
process_instance_creation=true
process_instance_migration=true
process_instance_modification=true
process_message_subscription=true
variable=true
variable_document=true


# Others

checkpoint=false
timer=true
message_start_event_subscription=true
process_event=false
deployment_distribution=true
escalation=true
signal=true
signal_subscription=true
resource_deletion=true
command_distribution=true
form=true
user_task=true
compensation_subscription=true
message_correlation=true
user=true
authorization=true


ZEEBE_INDEX_TEMPLATES="command
event
rejection
decision
decision_evaluation
decision_requirements
deployment
error
incident
job
job_batch
message
message_batch
message_subscription
process
process_instance
process_instance_batch
process_instance_creation
process_instance_migration
process_instance_modification
process_message_subscription
variable
variable_document
checkpoint
timer
message_start_event_subscription
process_event
deployment_distribution
escalation
signal
signal_subscription
resource_deletion
command_distribution
form
user_task
compensation_subscription
message_correlation
user
authorization"